@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* Neutral Colors */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.desktop-left-side {
  background: url('../../public/images/bg-sidebar-desktop.svg') no-repeat
    center/cover;
}

.primary-heading {
  @apply text-[35px] font-bold tracking-wide text-[color:var(--marine-blue)];
}

.sub-text {
  @apply text-lg tracking-wider text-[color:var(--cool-gray)] mb-10;
}

.input-label {
  @apply block mb-2 text-[color:var(--marine-blue)] text-sm;
}

.input {
  @apply w-full cursor-pointer p-2 font-bold border border-gray-300 rounded-md text-[color:var(--marine-blue)] focus:outline-none  focus:outline-[color:var(--pastel-blue)];
}

.btn-primary {
  @apply mt-20 bg-[color:var(--marine-blue)] font-bold cursor-pointer px-5 py-3 text-white w-28 whitespace-nowrap ml-auto rounded-md;
}

.step-number {
  @apply border-2 text-white  border-[color:var(--light-gray)] rounded-full flex items-center justify-center p-4 w-3 h-3;
}
