.header {
  nav {
    padding: 1.0625rem 1.5rem;
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  &__menu {
    // Mobile Menu

    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transform-origin: 3px 1px;
      transition: all 300ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &.open {
      > span {
        &:first-child {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__links {
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 300ms ease-in-out;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $darkBlue;
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__cta {
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  top: 3.75rem;
  background-image: linear-gradient($darkBlue, transparent);
}
